.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 50px;
}

.item {
    margin-right: 30px;
}

.item:last-child {
    margin-right: 0;
}

.list__link {
    position: relative;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-color;
    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;
}

&:hover,
&:focus {
    color: $accent-color;
}

.header__address {
    display: flex;
    margin-left: 318px;
}
.current {
    color: $accent-color;
}
&::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: $accent-color;
}

.contact {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
}

.contact-icon {
    fill: currentColor;
    display: flex;
    height: auto;
}