.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background: $main-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/maine.jpg);
}

.hero__container {
    box-sizing: border-box;
    text-align: center;
}

.hero__title {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $body-color;
}

.hero__button {
    margin-top: 30px;
    margin: 0 auto;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    background-color: $accent-color;
    color: $body-color;
    transition-property: background-color;
    transition-duration:$transition-time;
    transition-timing-function: $cubic;

}

&:hover,
&:focus {
    background-color: $btn-color;
}