.team {
    background: $second-color;
    padding: 94px 0;
}

.team__title {
    font-style: normal;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__item {
    background: $body-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__card {
    background: url(4853.jpg);
    border-radius: 0px;
}

.card {
    padding: 30px 0px;
    background: $body-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card__name {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.card__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card__item {
    width: 44px;
    height: 44px;

}

.card__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-color;
    color: $icon;
    border-radius: 50%;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;

    &:hover,
        &:focus {
            background-color: $accent-color;
            color: $body-color;
        }
}



.card__icon {
    display: flex;
    height: auto;
    fill: currentColor;
}

.card__aside {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
}

