body {
    font-family: $main-font;
    background-color: $body-color;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.btn {
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto
}
.link {
    text-decoration: none;
    color: $title-color;
    transition-property: color;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;
}

.link:hover,
.link:focus {
    color: $accent-color;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}