
$main-font: 'Roboto',
    sans-serif;
$secondary-font: 'Raleway',
    sans-serif;

// BACKGROUD
$body-color: #FFFFFF;
$main-color: #2F303A;
$second-color: #F5F4FA;
$card-color: #EEEEEE;

// FONTS 
$title-color: #212121;
$text-color: #757575;

// OTHERCOLOR
$top-color: #F5F5F5;
$accent-color: #2196F3;
$icon: #AFB1B8;
$btn-color: #188CE8;


// TRANSITION 
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;


